<div class="pokemon-catalog">
  <h2>Pokémon Catalogue</h2>

  <div class="pokemon-card" *ngFor="let pokemon of pokemonList">
    <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
    <h3>{{ pokemon.name }}</h3>
    <h3>{{!isInCollection(pokemon)}}</h3>
    

    <!-- Display "Add to Collection" or "Release" button based on isTrainerPage input -->
    <button
      *ngIf="isInCollection(pokemon) && isTrainerPage; else addToCollection"
      (click)="releasePokemonClick.emit(pokemon)"
    >
      Release
    </button>

    <ng-template #addToCollection>
      <button
      *ngIf="!isInCollection(pokemon) && !isTrainerPage" 
      (click)="addToCollectionClick.emit(pokemon)">
        Add to Collection
      </button>
    </ng-template>
  </div>
</div>
